<html>
  <head>
    <title>Hostel Management Portal</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/742a48addb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <nav>
      <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Hostel</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <%if(!currentUser){%>
          <li><a href="/auth/google">Sign Up/Login with G+</a></li>
          <%}else{%>
          <li><a href="#">Signed in as <%=currentUser.name%></a></li>
          <li>
            <%if(clientType == "admin"){%>
            <a href="#">
              <%}else{%>
              <a href="/user/dashboard/items/<%=currentUser.googleId%>">
                <%}%>
              Edit Profile
            </a>
          </li>
          <li><a href="/auth/logout">LogOut</a></li>
          <%}%>
        </ul>
      </div>
    </nav>
  </body>
</html>
