<html>
    <head>
        <title>Hostel Management Portal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <style>

        </style>
    </head>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>Hostel</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav">
                    <li><a href="#">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <%if(!currentUser){%>
                   <li><a href="/auth/google">Sign Up/Login with G+</a></li>
                    <%}else{%>
                    <li><a href="#">Signed in as <%=currentUser.name%></a></li>
                    <!-- <li><a href="/user/dashboard/<%=currentUser.googleId%>"> Edit Profile </a></li> -->
                   <li><a href="/auth/logout">LogOut</a></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>

<body>

