<%- include('partials/header'); -%>

<div>
  <div class="login-card">
    <div class="">
      <div class="login-card-header">
        <h4>Welcome to Hostel Managment Portal of IIITL</h4>
      </div>
      <img src="./images/undraw_coming_home_52ir.svg" />
      <div class="card-action">
        <a class="waves-effect waves-light  white">
          Sign Up/Login with &nbsp;<i
            class="fab fa-google"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>
