<%- include('partials/header'); -%>

<%- include('partials/sidenav'); -%>
<div class="start-h2">
</div>

<div class="container">
  <div class="jumbotron dashboard">
    <div class="c-container">
      <div class="c-box">
          <div class="c-content">
              <h2>New</h2>
              <h3>New Application</h3>
              <p>Here you can a create new application for your leave.</p>
              <a href="/user/dashboard/application">Create</a>
          </div>
      </div>
      <div class="c-image">
          <img src="../images/undraw_setup_obqo (1).svg" />
      </div>
      <div class="c-box">
          <div class="c-content">
              <h2>Edit</h2>
              <h3>Edit Application</h3>
              <p>Here you can edit, view past and check the status of your applications.</p>
              <a href="/user/dashboard/leavehistory">Edit</a>
          </div>
      </div>
  </div>
  </div>
</div>





<%- include('partials/footer'); -%>

