<%- include('partials/header'); -%>

<%- include('partials/sidenav'); -%>


<div class="container">
  <div class="jumbotron">
    <a href="/user/dashboard/application"><button>Link for new applications</button></a>
  <a href="/user/dashboard/leavehistory"><button>Link for past applications</button></a>
  </div>
</div>





<%- include('partials/footer'); -%>

