<%- include('partials/header'); -%>

<div class="jumbotron container">
<h1>Landing Page</h1> 

 <h2>Dashboard</h2>
 <li><a href="/user/dashboard/items/<%=currentUser.googleId%>"> Edit Profile </a></li>
 <li><a href="/user/dashboard/contacts/<%=currentUser.googleId%>"> Edit Contact Information</a></li>
   
</div>
<%- include('partials/footer'); -%>

