<%- include('partials/header'); -%>

<div class="jumbotron container">
    <h2>Dashboard</h2> 
    
     <!-- <h2>Dashboard</h2> -->
     <div class="li-container">
        <div class="li-item i1">
            <div class="li-hidden"><a href="/user/dashboard/items/<%=currentUser.googleId%>"> Edit Profile </a></div>
        </div>
        <div class="li-item i1">
            <div class="li-hidden"><a href="/user/dashboard/contacts/<%=currentUser.googleId%>"> Edit Contact Information</a></div>
        </div>
     </div>  
    </div>
<%- include('partials/footer'); -%>

