<%- include('partials/header'); -%>
<div class="container">
    <div class="jumbotron">
<h5>
    Hello Everyone I m Mess Manager
</h5>

<h2>
    Number of Students present
</h2>
    </div>
</div>
<%- include('partials/footer'); -%>
