@import url("https://fonts.googleapis.com/css?family=Headland+One&display=swap");

:root {
  --white-bg-text: rgba(0, 0, 0, 0.712);
}

body {
  font-family: "Headland One", serif;
}

nav {
  background: white;
  box-shadow: none;
}

nav .brand-logo {
  color: var(--white-bg-text);
}

nav ul a {
  color: var(--white-bg-text);
}

.login-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 40px;
}

.login-card-inner {
  height: 69vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-card img {
  height: 260px;
}

.login-card a {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 10px;
  color: #323a3ec9;
}

.login-card a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.login-card h4 {
  color: var(--white-bg-text);
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.sidenav-trigger {
  position: fixed;
  top: 50%;
  left: 10px;
  color: #323a3e;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 50%;
   height: 32px; width: 32px;
}

.sidenav-trigger i {
  position: relative; margin-left: 1px;
  font-size: 30px;
}

.sidenav-trigger:hover{
  transform: scale(1.4) translateX(15px);
  transition: .5s;
}
.sidenav-trigger:hover::after{
  content: 'Click Me!';
  transition-delay: .5s;
  font-size: 10px;
  color: #323a3e;
  position: relative;
  left: 120%;top: -80%;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

/* main-container */
.jumbotron{
  width: 80vw;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 40px;
}

.jumbotron h3{
  width: 100%; height: fit-content;
  display: flex; justify-content: center; align-items: center;
}

/* Main heading div */
.start-h2{
  width: 100%; height: 10%;
  display:flex;justify-content: center;  align-items: center;
}
.start-h2 h2{
  border-bottom: 2px solid red;
}
.start-h2 a{
  position: relative;
  left: -40%; top: 20%;
}
.start-h2 a button{
  border: none; border-radius: 100%;
  height: 30px; width: 30px;
  cursor: pointer;
  display:flex;justify-content: center;  align-items: center;
  background-color: transparent;  
  border: 1px solid #ccc; transition: .5s;
}
.start-h2 a button i{
  position: relative;
  font-size: 28px; top:-1px;
}
.start-h2 a button:hover{
  transform: scale(1.1);
  transition: .5s;
  background-color: #26a69a;
  color: #fff;
}
.start-h2 a button i:hover{
  transform: translateX(24px);
}
.start-h2 a button:hover::after{
  content: 'Back to Dashboard';
  transition-delay: .5s;
  font-size: 10px;
  color: #323a3e;
  position: relative;
  left: 200%;top: -80%;
}

/* leavehistory.ejs */
.status-heading{
  width: 100%; height: fit-content;
  display: flex; justify-content: center; align-items: center;
}
.leave-content{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 40px;
  margin-bottom: 20px;
  transition: 1s;
}
.leave-content:hover{
  border: 1px solid rgb(11, 224, 189);
  transform: scale(1.03);
  transition: 1s;
}
